#CKME 136 - Laptimes at the Nurburgring

#import data
getwd() 
setwd("C:\\Users\\Samuel Tang\\Desktop\\CKME 136\\Dataset")
cleandata <- read.csv("lap_times (edited).csv")

#explore data
str(cleandata)
head(cleandata) 
tail(cleandata)
nrow(cleandata)
ncol(cleandata)

#basic summary and visualization, prelim analysis, w/ Time
summary(cleandata)
plot(cleandata$Time)
plot(cleandata$Position, cleandata$Time) #Direct relationship
plot(cleandata$Year, cleandata$Time) #weak negative relationship, represents other technological improvements, difficult to dissect
plot(cleandata$Make, cleandata$Time) #no clear relationship, there is little information to glean from this variable
plot(cleandata$Model, cleandata$Time) #no relationship, purely for the purposes of identification
plot(cleandata$Weight, cleandata$Time) #no clear relationship - Maybe important for clusters? May be useful to group into different seqmants
plot(cleandata$Turbocharger, cleandata$Time) #no clear relationship - must compare the three engine augmentation styles, Turbo, Super, Hybrid (Position, Time, Weight, HP, Torque)
plot(cleandata$Supercharger, cleandata$Time) #no clear relationship - must compare the three engine augmentation styles, Turbo, Super, Hybrid (Position, Time, Weight, HP, Torque)
plot(cleandata$Hybrid, cleandata$Time) #no clear relationship, only two examples - Need to explain advantages (torque+HP > weight?, prove by kg/hp?)
plot(cleandata$Powertrain, cleandata$Time) #V8 most popular, investigate averages (HP, Time, Position, weight) for each group
plot(cleandata$Engine_Layout, cleandata$Time) #no clear relationship investigate averages for each group
plot(cleandata$Horsepower, cleandata$Time) #weak negative trend - why is it not as obvious/strong?
plot(cleandata$Torque, cleandata$Time) #weak negative trend - why is it not as obvious/strong?
plot(cleandata$Drivetrain, cleandata$Time) #RWD most popular, inherantly by design, AWD is heavier but better traction
plot(cleandata$Body_Style, cleandata$Time) #Coupe is most popular, inherantly by design...lighter weight, investigate correlation between weight?
plot(cleandata$Manual_Transmission, cleandata$Time) #Manual transmission may increase time, investigate averages for groups
plot(cleandata$KGperHP, cleandata$Time) #Positive trend, ressembles a logarithmic function
plot(cleandata$Cylinders, cleandata$Time) #Weak negative trend, investigate averages for each group

#basic summary and visualization, prelim analysis, w/ Position (many comments similar to above, **indicates further revelation)
plot(cleandata$Time, cleandata$Position) #Direct relationship
plot(cleandata$Year, cleandata$Position) #weak negative relationship, need to explain manufacturing and car cycles/generations **
plot(cleandata$Make, cleandata$Position) #no clear relationship
plot(cleandata$Model, cleandata$Position) #no clear relationship
plot(cleandata$Weight, cleandata$Position) #no clear relationship, why? Can it be easily offset/countered? **
plot(cleandata$Turbocharger, cleandata$Position) #no clear relationship, appears to be two clusters **
plot(cleandata$Supercharger, cleandata$Position) #no clear relationship
plot(cleandata$Hybrid, cleandata$Position) #no clear relationship, only two examples
plot(cleandata$Powertrain, cleandata$Position) #V6 appears to have best average position, I4 is terrible (probably because of the cars it is paired with) **
plot(cleandata$Engine_Layout, cleandata$Position) #Mid-Engine appears to have lowest average position, no clear picture, need summary statistics based from groups **
plot(cleandata$Horsepower, cleandata$Position) #weak negative trend
plot(cleandata$Torque, cleandata$Position) #weak negative trend, clearer picture than horsepower **
plot(cleandata$Drivetrain, cleandata$Position) #AWD and RWD appear to have similar effects, however, need to differentiate using weight...? **
plot(cleandata$Body_Style, cleandata$Position) #Coupe is most popular and usually perform better (boxplot visualizations are much easier to interpret) **
plot(cleandata$Manual_Transmission, cleandata$Position) #Manual transmission may increase position, investigate more
plot(cleandata$KGperHP, cleandata$Position) #Positive trend, ressembles a logarithmic function
plot(cleandata$Cylinders, cleandata$Position) #Weak negative trend, 6 features one major cluster, 8 features two? **

#time(convert into seconds)
library(lubridate)
cleandata$Mins2Secs <- period_to_seconds(ms(cleandata$Time))

#subset numeric attributes to allow for correlation analysis
allnumeric <- cleandata[,c(1,2,6:9,12,13,16:19)]
cormatrix <- cor(allnumeric)
#install.packages("PerformanceAnalytics")
library(PerformanceAnalytics)
chart.Correlation(cormatrix, method = "spearman") #spearman used to match the method used from "cor", also because the data is not normally distributed
#according to chart, the p-values indicate Hybrid(**), Torque(**), Horsepower(**)(***), KGperHP(**), and weight(.)(*) are significant to both position and time (in seconds)


#Do I need to convert into categorical variables? Engine layout, drivetrain, body style?
#No to body style, that is purely manufacturer choice, also mainly for identification purposes (some cars exist in multiple body styles)

